.home {
	padding: 100px 50px 0 150px;
	min-height: 100%;
	width: 100%;	
}
body {
	font-size: 14px;
}
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-grid;
	min-height: 150px;
	margin: 1rem;
	position: relative;
	width: 300px;
	padding: 20px 20px;

}
.card:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
}
.name {
	font-size: 18px;
	font-weight: bold;
}
.author {
	font-size: 18px;
	color: #555454;

}
.description {
	margin-top: 10px;
	font-size: 14px;
}
.language {
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	position: relative;
	top: 1px;
	width: 14px;
}
.langname {
	font-size: 12px;
	padding-left: 5px;
}
.bottom {
	bottom: 13px;
}
.loader {
	font-size: 18px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}
@media (min-width:320px) and (max-width:767px) {
	.home {
		padding: 2%;
	}
	body {
		font-size: 12px;
	}
	.home h2 {
		padding: 2% 2% 0;
    margin: 1.5rem auto 0;
    width: 83%;
	}
	.card {
		width: 80%;
		margin: 1.5rem auto;
		display: block;
		min-height: 50px;
	}
}
@media (min-width:768px) and (max-width:992px) {
	.home {
		padding: 2%;
	}
	.home h2 {
		padding: 2% 3% 0;
    margin: 1.5rem auto 0;
	}
	.card {
		width: 41%;
		margin: 2rem;
	}	
}
